
// Container size
$header__container-size: 1477px;


// Accent color
$sweet-green: #52FFD5;
$header-sweetpink: #FBCBDF;
$header-iconcolor: #ffffff;

// Typography
$circular: "CircularStd", sans-serif;
$main-textcolor: #ffffff;
$main-fontsize: 14px;
$main-fontweight: 500;




