main.main__container 
    .main__all
        .main__title 
            .main__title
                h2.main__title-h2 Summer collection 
            h1.main__title-h1 Barbie Shop
        
        .main__swiper 
            section.splide
                .splide__track
                    ul.splide__list
                        li.splide__slide: img(src="./src/assets/images/image1.png")
                        li.splide__slide: img(src="./src/assets/images/image2.png")
                        li.splide__slide: img(src="./src/assets/images/image-3.png")
                        li.splide__slide: img(src="./src/assets/images/image-4.png")
                        li.splide__slide: img(src="./src/assets/images/image1.png")
                        li.splide__slide: img(src="./src/assets/images/image2.png")
                        li.splide__slide: img(src="./src/assets/images/image-3.png")
                        li.splide__slide: img(src="./src/assets/images/image-4.png")
        .main__about 
            p.main__about-paragraph Explore the Barbie Summer Collection, featuring vibrant designs and stylish <br> outfits; it creates an imaginative world for your children. With Barbie, experience a <br> summer full of fun and creativity. Visit our store and discover the allure of this <br> collection!